.card__close {
  display: block;
  background: url(../../../images/trash.svg) no-repeat center center;
  border: none;
  padding: 0;
  width: 18px;
  height: 18px;
  position: absolute;
  cursor: pointer;
  right: 16px;
  top: 24px;
  transition: linear 0.2s;
}

.card__close:hover {
  opacity: 0.6;
}
